
*.pper
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/97C6E427/sources/session-79169a55/lock_file
.Rproj.user/97C6E427/sources/prop/97BB5BFA
.Rproj.user/97C6E427/sources/prop/B1892BD1
.Rproj.user/97C6E427/sources/prop/INDEX
.Rproj.user/97C6E427/sources/session-79169a55/3C31AFB2
.Rproj.user/97C6E427/sources/session-79169a55/3C31AFB2-contents
.Rproj.user/97C6E427/sources/session-79169a55/6929AAA0
.Rproj.user/97C6E427/sources/session-79169a55/6929AAA0-contents
